// Global Foundation Settings
@import "settings";

// Comment out this import if you don't want to use normalize
@import "normalize";

// Comment out this import if you are customizing you imports below
@import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "foundation/components/global"; // *always required
// @import "foundation/components/grid";

//
// Use this grid if you want to start using the new Foundation 5 grid early.
// It will change breakpoints to min-width: 640px and 1024px.
//
// @import "foundation/components/grid-5";
//

// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";

$triangle_width: 220px;
$triangle_height: 220px;
$upper_triangle_width: 175px;
$upper_triangle_height: 175px;
$main_nav_font_size: 18px;
$main_nav_line_height: 10px;
$main_nav_font_family: 'helvitica', sans-serif;
$important_width: 82.5em !important;
$category_height: 172px;
$lighter_blue: #1e2d5a;
$darker_blue: rgb( 20, 30, 60 );

@mixin vertical-align($percent) {
  position: relative;
  -webkit-transform: translateY($percent);
  -ms-transform: translateY($percent);
  transform: translateY($percent);
}

@mixin triangle-rotate($rotate) {
	/* Rotate */
	-webkit-transform: rotate($rotate);
	-moz-transform: rotate($rotate);
	-ms-transform: rotate($rotate);
	-o-transform: rotate($rotate);
	transform: rotate($rotate);
	/* Rotate Origin */
}
@mixin triangle-before(){
	content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: -1;
}

#top_bar {
	@media (max-width: 480px) {
		background: url('../../images/phone-header-background.png');
}
}
#logo{
display:inline-block;
	@media (max-width: 480px) {
		@include vertical-align(50%);
		margin: auto;
		display: table;
	}
}

#mobile_phone {
	display:none;
	@media (max-width: 480px) {
			display: block;
	}
}
	

#company_info{
	float:right;
	display: table-row-group;
	vertical-align:middle;
		@media (max-width: 480px) {
			display: none;
	}
}

#location{
	float:left;
	padding: 10px;
}

#border{
	vertical-align:baseline !important;
}

#phone_number{
	display:inline-block;
	padding: 10px;
}

#phone_number img{
}

#main_nav
{
 display: table;
 margin: auto auto;
 @media (max-width: 480px) {
	display:none !important;
	}
	
	ul {
	}
	ul li{
		text-align: center;
		display: inline-block;
		list-style-type: none;
		padding: 2px 10px;
	}
/* ===== First Level ===== */	
	ul li a{
		display:block;
		color: white;
		text-decoration:none;
		font-size: $main_nav_font_size;
		font-family: $main_nav_font_family;
		line-height: $main_nav_line_height;
	}
	ul li:hover {
		background: white;
	}
	ul li:hover a {
		color: blue;
	}
	ul ul, ul li:hover ul ul{
		position:absolute;
		display:none;
	}
	ul ul li:hover ul, ul li:hover ul li:hover ul{
		display:block;
		top:0px;
		left: 100%;
	}
/* ===== Second and Third Level ===== */
	ul li:hover ul {
		display:block;
		position:absolute;
		width:auto;
		height:auto;
		margin:0;
		padding:0;
		box-shadow: 0 4px 0 rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.15) inset;
		z-index: 99999;
	}
	ul li:hover ul li {
		display: block !important;
		position: relative;
	}
	ul ul {
			background:white;
	}
	ul ul ul {
		background:#e4e4e4 !important;
		border-color:#e4e4e4 !important;
		margin-left:-14px;
	}
	ul ul li a {
		float:none;
		width:180px;
		line-height:normal;
		font-variant:normal;
		font-weight:normal;
		font-size:14px;
		color:#fff;
		text-transform:none;
		padding:6px 10px;
		background:none !important;
	}
	ul ul ul li a {
	color:#fff;
	font-weight:bold;
	}
	ul ul li:hover>a {
		background:#fff !important;
		color:#999 !important;
	}
	ul ul ul li:hover>a {
		background:#eee !important;
		color: #777 !important;
	}
}

.top_triangle{
   width: $triangle_width;
   height: $triangle_height;
   position: relative;
   overflow: hidden;
   display: inline-block; 
   @include triangle-rotate(-45deg);
}

.top_triangle:before{
    @include triangle-before();
}

.top_triangle img{
@include triangle-rotate(45deg);
display: table;
}

#dc_button:before{
background:url("../../images/dc.png") 0 0 repeat;
@include triangle-rotate(45deg);
}

#md_button:before{
 background: url("../../images/maryland.png") 0 0 repeat;
 @include triangle-rotate(45deg);
}

#va_button:before{
 background: url("../../images/maryland.png") 0 0 repeat;
 @include triangle-rotate(45deg);
}

.padding-bottom {
padding-bottom: 250px;
}

#mobile_nav_button{
	display:none;
 @media (max-width: 480px) {
	background-image: url('../../images/mobile-button.png');
	background-repeat: no-repeat;
	background-size: auto;
	background-position: 0 -206px;
	display: block;
	float: left;
	height: 42px;
	width: 52px;
 } 
}

#mid {
background: url('../../images/mid-background.jpg');
}

.important_width {
max-width: $important_width;
}

#text {
text-align:center;
 p, h1 {
color: white !important;
}
}

.categories_wrapper {
	padding: 25px 5px; 
	cursor: pointer;
		&:hover {
			.whitebox {
			 background-color: $lighter_blue;
				h6, p {
					color: white !important;
				}
			}
			.yellowbox {
				background-color: $darker_blue;
			 }
		}
		.whitebox {
			background: white;
			padding: 0px 20px;
			float: left;
			width: 75%;
			height: $category_height;
				h6 {
					color: rgb( 31, 47, 95 );
					line-height: 3.161;
					font-size: 18px;
					font-family: "Source Sans Pro";
					padding: 0px;
					margin: 0px;
				}
				p {
					font-size: 14px;
					font-family: "Source Sans Pro";
					color: rgb( 85, 85, 85 );
					line-height: 1.714;
				}
		}

		.yellowbox {
			background: #f4bf1b;
			height: $category_height;
				img {
					display: table;
					margin: auto;
					@include vertical-align(50%);
				}
			}
}

#trust {
	font-size: 33px;
	font-family: "Source Sans Pro";
	color: rgb( 255, 255, 255 );
	text-transform: uppercase;
	line-height: 1.724;
	padding: 40px 0px;
	background: $lighter_blue;
		img {
			margin: auto;
			display: table;
  }
 }

 .upper_triangle{
   width: $upper_triangle_width;
   height: $upper_triangle_height;
   position: relative;
   overflow: hidden;
   display: inline-block; 
   @include triangle-rotate(-45deg);
}

.upper_triangle:before{
    @include triangle-before();
}

.upper_triangle img{
@include triangle-rotate(45deg);
display: table;
padding: 40px;
}

#creds {
padding: 100px;
}

#avvo:before {
 background: url("../../images/lower-diamond.png") 0 0 no-repeat;
@include triangle-rotate(45deg);
background-position:center;
}

#bbb:before {
 background: url("../../images/lower-diamond.png") 0 0 no-repeat;
@include triangle-rotate(45deg);
background-position:center;
}

#national:before {
 background: url("../../images/lower-diamond.png") 0 0 no-repeat;
@include triangle-rotate(45deg);
background-position:center;
}

#dui:before {
 background: url("../../images/lower-diamond.png") 0 0 no-repeat;
@include triangle-rotate(45deg);
background-position:center;
}

.lower_triangle {
background: $lighter_blue;
 width: $upper_triangle_width;
   height: $upper_triangle_height;
   position: relative;
   overflow: hidden;
   display: inline-block; 
   @include triangle-rotate(-45deg);
}

.lower_triangle img{
	@include triangle-rotate(45deg);
	display: table;
	padding: 40px;
}


#lawyers {
background: url('../../images/city-lawyers.png');
}

#lawyerIMG img {
  float: left;
}

#lawyerIMG2 img {
@include vertical-align(50%);
}
